/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scroll behavior */
html{
    scroll-behavior: smooth;
    
}


/* general styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 10%;
  background-color: transparent;
}

.button{
    margin-left: 40px;
}

.logo{
    font-size: 20px;

}

.nav-links a {
    margin-right: 20px;
    font-size: 16px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

/* hyperlinks */
header a {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

}

/* to position the hyperlinks and button */
.nav-links{
    display: flex;
    justify-content: center;
}

.nav-links a{
    margin-right: 20px;
}

#member-link{
    display: none;
}


/* button popup-form */

/* Center the box */
.box {
    text-align: center;
}

/* Style for the button */
.button {
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

/* Wrapper styles */
.wrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

/* Header inside wrapper */
.wrapper h2 {
    margin-top: 0;
    color: #333;
}

/* Close button */
.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* Close button hover effect */
.wrapper .close:hover {
    color: #a82424;
}

/* Content inside wrapper */
.wrapper .content {
    max-height: 30%;
    overflow: auto;
}

/* Show overlay when targetted */
.overlay:target {
    visibility: visible;
    opacity: 1;
}

/* Form design */
.container {
    display: flex;
    flex-direction: column;
}

/* Heading inside container */
.container h2 {
    padding-bottom: 10px;
}

/* Label styles */
form label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

/* Submit button styles */
input[type="submit"] {
    align-self: flex-end; /* Align the submit button to the end (right) of the container */
    background-color: #413b3b;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}


/* Header end*/

/* Body start */

/* main content */
main {
    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/* hero */
#hero{
    height: 90vh;
    width: 100%;
    background: /* Overlay with a semi-transparent black layer */ linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/hero.jpg) no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
    max-width: 100%;
}

#hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1-hero{
    color: #ffffff;
    font-size: 50px;
}
/* hero ends */


/* About us */
#about-us{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    height: 60vh;
}
#about-us-img {
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/aboutus.jpg) no-repeat center center/cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#about-us-img img {
    max-width: 100%;
    height: auto;
    display: block; 
}


#textbox{
    width: 50%;
}

#story{
    margin-top: 70px;
}

#story p{
    margin-top: 20px;
    margin-bottom:40px;
    font-size: large;
}

#story h2, p {
  padding-left: 20px;
  padding-right: 20px;
}

#story h1{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin: bottom 20px;
}

/* Opening times */

#opening-times{
    display: flex;
    
}

#opening-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;

    background: /* Overlay with a semi-transparent black layer */ linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/opening.jpg) no-repeat center center/cover;

}

#time-card{
    background-color: #ffffff;
    z-index: 10;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    height: 80%;
    border: 1px solid #403e3d;
}

.open-times{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: medium;
    justify-content: space-around;
    margin: 15px;

}
.open-times span{
    font-size: larger;
    font-weight: 500;

}

#time-card h2{
    margin-bottom: 35px;
    font-size: xx-large;

}
/* opening times end */

/* contact section start */

#contact-section{
    display: flex;
    padding: 40px;
}

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

#contact-map{
    width: 48%; 
    padding-left: 50px;
}

.contact-map iframe {
    width: 100%;
    height: 300px; 
}

.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 48%;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    height: 100px; 
}

.contact-form button {
    background-color: #403e3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

iframe {
    width: 100%;
    height: 100%;
    padding-right: 20px;

}
/* contact ends */

/* Footer */

footer{
    background-color: #333;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

.response-message{
    display: none;
}

@media screen and (max-width: 1200px) {
   

    .nav-toggle-label{
        display: block;
        font-size: 24px;
        cursor: pointer;
        
    }

    .nav-links {
        position: absolute;
        right: -0;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 33%;
        
        border-radius: 5px;
        margin-right: 10px;
        display: none;
     
    }

    .nav-links > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1vw;
    }

    .nav-links a{
        margin: 1px;
        padding: 10px;
    }
    

   .nav-links.active{
    left: 0;
    display: flex;
    

   }

   .button{
    display: none;
   }

    /* Adjustments for better spacing */
   
    .logo {
        font-size: 24px; 
    }


    /* Display the checkbox */
    #nav-toggle {
        display: none;
    }
    
    
    
    
    
    

   
}

